.container {
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100vh;
	align-items: center;
	overflow: hidden;
	// margin-bottom: 60px;
	background-color: red;
}
.customNavbarButton {
	color: white;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
.customNavbarContainer {
	display: flex;
	width: calc(100vw - 40px);
	padding-top: 50px;
	margin: 20px;
	position: absolute;
	top: 0;
	justify-content: space-around;
	align-items: center;
}
.customNavbarMiddleButtons {
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
.customNavbarMiddleButtons h1 {
	font-family: 'Microgamma';
	color: white;
	font-size: MIN(calc(100vw / 65), 30px);
	text-align: center;
	/* font-weight: 600; */
	padding: 0 30px 0 30px;
	cursor: pointer;
}
.hypertubeLogo {
	width: 20vw;
	height: auto;
	max-width: 400px;
}
.video iframe {
	position: absolute;
	height: 115vh;
	width: 204.4vh;
	left: calc((204.4vh - 100vw) / 2 * -1);
	top: calc((115vh - 100vh) / -2);
}
.headerBlackLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}
.headerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 60%;
	margin-left: 30px;
	padding: 20px;
	width: calc(100vw - 60px);
}
.whiteFrame {
	position: absolute;
	height: 100vh;
	width: 100vw;
	border: 20px solid white;
	pointer-events: none;
}
.noise {
	position: fixed;
	left: -50px;
	width: calc(100% + 100px);
	height: calc(60vh + 100px);
	background: repeating-linear-gradient(#111, #111 50%, white 50%, white);
	background-size: 3px 3px;
	filter: url(#noise);
}
// ------------------------------------------------------------------------------
.showTopNoise {
	top: -100vh;
	animation: noise-top-animation 400ms forwards ;
}
.showBtmNoise {
	bottom: -100vh;
	animation: noise-btm-animation 400ms forwards ;
}
@keyframes noise-top-animation {
	0% { transform: translateY(0%); }
	100% { transform: translateY(125%); }
}
@keyframes noise-btm-animation {
	0% { transform: translateY(0%); }
	100% { transform: translateY(-125%); }
}
// ------------------------------------------------------------------------------
.hideTopNoise {
	top: -100vh;
	animation: noise-top-animation-r 600ms ;
}
.hideBtmNoise {
	bottom: -100vh;
	animation: noise-btm-animation-r 600ms ;
}
@keyframes noise-top-animation-r {
	0% { transform: translateY(125%); }
	100% { transform: translateY(0%); }
}
@keyframes noise-btm-animation-r {
	0% { transform: translateY(-125%); }
	100% { transform: translateY(0%); }
}
// -------------------------------------------------------------------------------
.showAnimationBlackFilter {
	position: fixed;
	height: 100%;
	width: 100vw;
	background-color: black;
	animation: animation-black-filter 300ms ease;
}
@keyframes animation-black-filter {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.hideAnimationBlackFilter {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: black;
	animation: animation-black-filter-rv 1000ms forwards ease;
}
@keyframes animation-black-filter-rv {
	0% { opacity: 1; }
	100% {
		opacity: 0; 
		visibility: hidden
	}
}

.glitchClip {
	width: fit-content;
	scale: 6;
}
.movieTitle {
	font-family: 'Microgamma';
	color: white;
	font-size: calc(100vw / 25 / 8);
	text-align: center;
	font-weight: 600;
	width: fit-content;
	padding: 0 10px 0 10px;
}
.playNow {
	font-family: 'Microgamma';
	color: white;
	font-size: 50px;
	font-size: calc(100vw / 28);
	font-weight: 600;
	text-align: center;
}
.playButton {
	background-color: #cfd3da;
	padding: 8px 20px 8px 20px;
	color: black;
	border-width: 1px;
	margin-right: 8px;
	cursor: pointer;
}
.bottomTimeCounterContainer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 50px;
	width: 100%;
	padding: 0 70px 0 70px;
	align-items: flex-end;
}
.vhsFont {
	font-family: "Vcr-osd";
	color: white;
	font-size: 40px;
	white-space: pre-wrap;
}
.rating{
	color: #92a3b8;
	font-size: 15px;
}
.summary{
	text-align: center;
	color: #e3e5ea;
	max-width: 650px;
}
.categories {
	display: flex;
	position: relative;
	min-width: 100vw;
}
.scaleMovieTitleOnHover {
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.scaleMovieTitleOnHover:hover {
	scale: 6.8;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.scaleOnHover {
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.scaleOnHover:hover {
	scale: 1.1;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.90);
}
.menuTitle {
	font-family: 'Microgamma';
	color: white;
	font-size: MIN(calc(100vw / 40), 30px);
	text-align: center;
}
.flagsContainer {
	display: flex;
	flex-wrap: wrap;
	
}
.flag {
	height: 40px;
	margin: 10px;
	cursor: pointer;
}
.selectedLang {
	border: 1px white solid;
}
.searchInput {
	background-color: #00000000;
	width: MIN(80vw, 600px);
	height: 60px;
	border: 1px white solid;
	padding: 0 60px 0 25px;
	color: white;
	outline: none;
}
.searchIconContainer {
	pointer-events: none;
	display: flex;
	width: MIN(80vw, 600px);
	justify-content: flex-end;
}
.searchIcon {
	position: absolute;
	color: white;
	height: 30px;
	width: 30px;
	margin-right: 20px;
	cursor: pointer;
}
.headerSearchBar {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
}
.bottomArrowContainer {
	display: flex;
	justify-content: center;
	animation: up-down-animation 1000ms infinite ease-in-out;
}
@keyframes up-down-animation {
	0% { transform: translateY(0%); }
	50% { transform: translateY(-20%); }
	100% { transform: translateY(0%); }
}
// ----------------------- FILM PREVIEW -----------------------
.moviePreviewContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgb(34, 34, 34);
	display: flex;
	justify-content: center;
}
.moviesWall {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	position: absolute;
}




// ---------------- media query ----------------
@media only screen and (max-width: 675px) {
	.movieTitle {
		/* font-size: 30px; */
	}
}
@media only screen and (max-width: 400px) {
	.movieTitle {
		/* font-size: 25px; */
	}
	.headerContent{
		height: 80%;
	}
	.summary {
		font-size: 15px;
	}
}