.header {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	align-items: center;
	overflow: hidden;
	margin-bottom: 60px;
}
.customNavbarButton {
	color: white;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
.customNavbarContainer {
	display: flex;
	width: calc(100vw - 40px);
	z-index: 10;
	padding-top: 50px;
	margin: 20px;
	position: absolute;
	justify-content: space-around;
	align-items: center;
}
.customNavbarMiddleButtons {
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
.customNavbarMiddleButtons h1 {
	font-family: 'Microgamma';
	color: white;
	font-size: min(calc(100vw / 60), 30px);
	text-align: center;
	/* font-weight: 600; */
	padding: 0 30px 0 30px;
	cursor: pointer;
}
.hypertubeLogo {
	width: 30vw;
	height: auto;
	max-width: 550px;
}
.video iframe {
	position: absolute;
	height: 115vh;
	width: 204.4vh;
	left: calc((204.4vh - 100vw) / 2 * -1);
	top: calc((115vh - 100vh) / -2);
}
.headerBlackLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}
.headerContent {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: center;
	height: 60%;
	margin-left: 30px;
	padding: 20px;
	width: calc(100vw - 60px);
}
.whiteFrame {
	position: absolute;
	height: 100vh;
	width: 100vw;
	border: 20px solid white;
	z-index: 15;
	pointer-events: none;
}
.glitchClip {
	/* width: 100%; */
	width: fit-content;
	scale: 6;
}
.movieTitle {
	font-family: 'Microgamma';
	color: white;
	font-size: calc(100vw / 25 / 8);
	/* font-size: calc(100vw / 25); */
	/* scale: 6; */
	/* scale to increase glitch effect */
	/* width: 100%; */
	text-align: center;
	font-weight: 600;
	width: fit-content;
	padding: 0 10px 0 10px;
}
.playNow {
	font-family: 'Microgamma';
	color: white;
	font-size: 50px;
	font-size: calc(100vw / 28);
	font-weight: 600;
	text-align: center;
}
.playButton {
	background-color: #cfd3da;
	padding: 8px 20px 8px 20px;
	color: black;
	border-width: 1px;
	margin-right: 8px;
	cursor: pointer;
}
.rating{
	color: #92a3b8;
	font-size: 15px;
}
.summary{
	text-align: center;
	color: #e3e5ea;
	max-width: 650px;
}
.categories {
	display: flex;
	position: relative;
	min-width: 100vw;
}
.scaleMovieTitleOnHover {
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.scaleMovieTitleOnHover:hover {
	scale: 6.8;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.scaleOnHover {
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.scaleOnHover:hover {
	scale: 1.1;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.90);
}
.menuTitle {
	font-family: 'Microgamma';
	color: white;
	font-size: min(calc(100vw / 40), 30px);
	text-align: center;
	/* margin-top: 60px; */
}
.flagsContainer {
	display: flex;
	flex-wrap: wrap;
	
}
.flag {
	/* padding: 10px; */
	height: 40px;
	margin: 10px;
	cursor: pointer;
}
.selectedLang {
	border: 1px white solid;
}
.searchInput {
	background-color: #00000000;
	/* background-color: #ffffff60; */
	width: min(80vw, 600px);
	height: 60px;
	border: 1px white solid;
	padding: 0 60px 0 25px;
	color: white;
	outline: none;
}
.searchIconContainer {
	pointer-events: none;
	display: flex;
	width: min(80vw, 600px);
	justify-content: flex-end;
}
.searchIcon {
	position: absolute;
	color: white;
	height: 30px;
	width: 30px;
	margin-right: 20px;
	cursor: pointer;
}



@media only screen and (max-width: 675px) {
	.movieTitle {
		font-size: 30px;
	}
}
@media only screen and (max-width: 400px) {
	.movieTitle {
		font-size: 25px;
	}
	.headerContent{
		height: 80%;
	}
	.summary {
		font-size: 15px;
	}
}