.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* width: 100vw; */
}
.backdropImageContainer {
    display: flex;
	position: relative;
    width: 100%;
    max-height: 750px;
    overflow: hidden;
    align-items: center;
}
.gradient {
	display: flex;
	justify-content: end;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,1) 3%, rgba(0,0,0,0.5438769257703081) 41%, rgba(0,0,0,0.1601234243697479) 64%);
}
.backdropImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.content {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 80%;
	top: -300px;
}
/* ------------------ LEFT SECTION ------------------ */
.contentLeftSection {
	display: flex;
	flex-direction: column;
}
.moviePoster {
	border-radius: 50px;
	width: 25vw;
	max-width: 400px;
}
/* ------------------ MID SECTION ------------------ */
.contentRightSection {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 30px 30px;
	width: 120vw;
}
.movieTitle {
	color: white;
	font-size: 50px;
	font-weight: 900;
}