// @use "@material/slider/styles";

.container {
	max-width: 85vw;
	width: 2200px;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.searchField {
	height: 50px;
	max-width: 80%;
	width: 500px;
	border-radius: 5px;
	padding: 0 15px 0 15px;
	outline: none;
	margin-left: 10px;
}
.searchButton {
	height: 50px;
	width: 70px;
	background-color: red;
	color: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
}
.movies {
	align-items: flex-start;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
}
.movie {
	flex-direction: column;
	width: 200px;
	margin: 15px;
}
.thumbnail {
	display: flex;
	position: relative;
	height: 255px;
	width: 167px;
}
.movieDetails{
	position: absolute;
	width: 167px;
	height: 255px;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 15px;
	transition-duration: 200ms;
    transition-timing-function: ease-in-out;
	opacity: 0;
}
.movieDetails:hover {
	opacity: 1;
	top: 0px;
	transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.movieGenre{
	color: white;
}
.movieYear {
	color: white;
	font-size: 40px;
}
.movieTitle {
	color: white;
	font-size: 18px;
	font-weight: 800;
}
.starIcon {
	color: yellow;
	font-size: 20px;
}
.rating{
	color: white;
	font-size: 15px;
}
.playNow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: red;
	color: white;
	cursor: pointer;
	font-size: 20px;
	width: 80%;
	height: 40px;
	border-radius: 5px;
}
