.title {
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding-top: 16px;
	margin-left: 60px;
}
.container {
	display: flex;
	max-width: 100%;
	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;/* Firefox */
	align-items: center;
	flex-direction: row;
	scroll-behavior: smooth;
	padding-left: 50px;
	padding-right: 50px;
}
.container::-webkit-scrollbar {
	display: none;
}
.thumbnail {
    display: inline-block;
    min-width: 289px;
    margin: 50px 10px 50px 10px;
    /* scale: 1; */
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    border-radius: 30px;
}
.thumbnail:hover {
	scale: 1.23;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	z-index: 3;
}

.arrowScroll {
	height: 60px;
	width: 60px;
	color: black;
	opacity: 0.7;
}
.arrowScroll:hover {
	opacity: 1;
}
.arrowScrollBkgr {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin: auto 20px auto 20px;
	cursor: pointer;
	opacity: 0.7;
	z-index: 5;
}
.arrowScrollBkgr:hover {
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	.title {
		font-size: 20px;
		margin-left: 40px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.thumbnail {
		width: 140px;
	}
	.arrowScrollBkgr {
		width: 40px;
		height: 40px;
	}
	.arrowScroll {
		width: 40px;
		height: 40px;
	}
}
