.title {
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding-top: 16px;
	margin-left: 60px;
}
.container {
	display: flex;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: visible;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;/* Firefox */
	align-items: center;
	flex-direction: row;
	scroll-behavior: smooth;
	padding-left: 50px;
	padding-right: 50px;
}
.container::-webkit-scrollbar {
	display: none;
}
.thumbnail {
	display: flex;
	position: relative;
	height: 331px;
	border-radius: 30px;
	overflow: hidden;
	transition-duration: 130ms;
	transition-timing-function: ease-in-out;
}
.thumbnail:hover {
	scale: 1.23;
	z-index: 5;
	transition-duration: 130ms;
	transition-timing-function: ease-in-out;
}
.arrowScroll {
	height: 60px;
	width: 60px;
	color: black;
	opacity: 0.7;
}
.arrowScroll:hover {
	opacity: 1;
}
.arrowScrollBkgr {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin: auto 20px 50px 30px;
	cursor: pointer;
	opacity: 0.7;
	/* z-index: 5; */
}
.arrowScrollBkgr:hover {
	opacity: 1;
}
.bordersGradient {
	position: absolute;
	background: linear-gradient(91deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.4374343487394958) 20%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	width: 15vw;
	height: 32%;
}
.flipEffect {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

@media only screen and (max-width: 600px) {
	.title {
		font-size: 20px;
		margin-left: 40px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	/* .thumbnail {
		width: 140px;
	} */
	.arrowScrollBkgr {
		width: 40px;
		height: 40px;
	}
	.arrowScroll {
		width: 40px;
		height: 40px;
	}
}
