.container {
    display: flex;
    justify-content: center;
}
.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 11px 0 11px 0;
    /* width: 70px; */
	/* width: 100%; */
    /* top: 90px; */
    top: 160px;
    z-index: 1;
}
.dropdownMenu::before {
    position: absolute;
    top: -5px;
    /* right: 25px; */
    content: '';
    height: 20px;
    width: 20px;
    background: white;
    transform: rotate(45deg);
    z-index: -1;
}
.shown {
    opacity: 1;
    visibility: visible;
    transition: 500ms ease;
    transform: translateY(0);
}
.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}
.dropdownButton {
    height: 50px;
	width: 100%;
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
    border-radius: 8px;
	cursor: pointer;
	padding: 8px;
}
.divider {
	border-bottom: 2px solid lightgray;
}
.item {
	width: 100%;
	height: 28px;
	text-align: center;
	cursor: pointer;
}

.flag {
    width: 50px;
    cursor: pointer;
}
.dropdownFlag {
    width: 50px;
    cursor: pointer;
    padding: 5px 0 5px 0;
}