.loading {
	background: black;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 10;
}
.content {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 30vh;
}
.logo {
	width: 60vw;
	height: auto;
}
.blurLayer1 {
	position: absolute;
	width: 50vw;
	height: 25vh;
	backdrop-filter: blur(1vw);
	-webkit-mask: repeating-linear-gradient(
		to right,
		rgba(0,0,0,0),
		rgba(0,0,0,1) 25%,
		rgba(0,0,0,1) 50%,
		rgba(0,0,0,1) 75%,
		rgba(0,0,0,0) 100%
	);
	animation: blur-animation 1.2s infinite linear
}

@keyframes blur-animation {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(78%); }

}