.navbarContainer {
	background-color: rgba(11, 4, 4, 0.5);
	align-items: center;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7875744047619048) 49%, rgba(0,0,0,0.4626444327731093) 83%, rgba(255,255,255,0) 100%);
	z-index: 100;
	backdrop-filter: blur(6px);
}

.balanceEmptyDivAvatar{
	padding: 32px;
}

.navbarSections {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.logo {
	height: 35px;
	padding: 0 12px 0 12px;
	cursor: pointer;
}
.sectionNavbar {
	color: white;
	padding: 0 15px 0 15px;
	cursor: pointer;
}
.languagesAndLogin{
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
}
.avatarUserNavbar {
	height: 43px;
	border-radius: 50%;
	margin: 0px 20px 0px 0px;
	cursor: pointer;
}
.menuIcon {
	display: none;
}
.loginButton {
	background-color: red;
	border-radius: 4px;
	margin: 5px 30px 5px 10px;
}
.loginText {
	color: white;
	margin: 10px 20px 10px 20px;
	font-size: 20px;
	cursor: pointer;
}
/* ------------------------------------------------ */
/* ------------------------------------------------ */
@media only screen and (max-width: 700px) {
	.navbarContainer {
		height: 70px;
	}
	.logo {
		height: 25px;
	}
	.sectionNavbar {
		padding: 0 5px 0 5px;
	}
	.avatarUserNavbar {
		height: 38px;
	}
	.registerText{
		font-size: 15px;
	}
	.loginText{
		font-size: 15px;
	}
}
/* ------------------------------------------------ */
/* ------------------------------------------------ */
@media only screen and (max-width: 550px) {
	.navbarContainer {
		justify-content: space-between;
	}
	.logo {
		padding-left: 25px;
	}
	.sectionNavbar {
		display: none;
	}
	.balanceEmptyDivAvatar {
		display: none;
	}
	.avatarUserNavbar {
		display: none;
	}
	.menuIcon {
		color: white;
		height: 30px;
		width: 50px;
		display: unset;
		padding: 0px 20px 0px 0px;
		cursor: pointer;
	}
}
/* ------------------------------------------------ */
/* ------------------------------------------------ */
@media only screen and (max-width: 400px) {
	.buttonsContainer {
		display: none;
	}
}
/* ------------------------------------------------ */
/* ------------------------------------------------ */
@media only screen and (max-width: 350px) {
	.logo {
		padding-left: 15px;
	}
}
