.tw-button{
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: red;
	color: white;
	cursor: pointer;
	font-size: 30px;
	/* margin: 10px; */
	/* width: 90%; */
	height: 60px;
	border-radius: 5px;
}

@media only screen and (max-width: 380px) {
	.button {
		font-size: 20px;
	}
}

@media only screen and (max-width: 230px) {
	.button {
		font-size: 17px;
	}
}